body {
  background-color: bisque;
   
}
h1 {
     text-align: center;
    color: brown; 
    margin: 25px
   
}  


h2 {
  text-align: center;
  color: sienna
} 
p{
  text-align: center;
  color: saddlebrown
}
img{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  display: block
   }
